dist: xenial

env:
  - BUILD_ENV="travis"

branches:
  only:
    - master

stages:
  - test

jobs:
  include:
    - stage: test
      language: node_js
      name: Test
      node_js: 10
      install:
        - npm ci
      script:
        - npm run test
